.se{
    margin-left: 50px;

}
.es{
    background-color:burlywood;

}
.hp{
    margin-left: 50px;
}
.ph{
    margin-left: 50px;
}
.gym{background-size: cover;
    background-position:center ;
    height: 100vh;
    width:100vh ;
    color:whitesmoke ;

}
