.form{
    margin-left: 150;
   
}
.id1{
    margin-top: 50px;
    background-color: rgba(247, 163, 176, 0.728);

}
.ncc{background-size: cover;
    background-position: center;
    height: 100vh;
    width:100vh ;
    color:black ;

}

